<body>
    <div class="wrapper">
        <header id="Header">
            <div class="main_header inner_page">
                <div class="top_nav" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo">
                                    <a title="Crave Ordering" href="/"><img src="../images/logo.png" alt="Crave Ordering"></a>
                                </div>
                                <div class="nav_manu">
                                    <div class="Menu_list">
                                        <ul class="menu">
                                            <li><a class="trans hvr-underline-from-left" href="/">Home</a></li>
                                        </ul>
                                    </div>
                                    <div class="Cart">
                                        <a title="Cart" href="/Home/Menu">
                                            <span class="Cart_count">Cart</span>
                                            <img class="cart_img" src="../images/cart_1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="burger" class="open-main-nav">
                    <span class="burger"></span>
                </button>
                <div class="H_banner">
                    <div class="main_pitch">
                        <h1 class="page_title">My Cart</h1>
                    </div>
                </div>
            </div>
            <div class="device">
                <nav class="main-nav" id="main-nav">
                    <div class="logo">
                        <a title="Crave Ordering" href="/"><img src="../images/logoBlack.png" alt="Crave Ordering"></a>
                    </div>
                    <ul>
                        <li><a href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a class="trans" title="Home" href="/">Home</a></li>
                                <li>Cart</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="main_cart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Cart</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart_list">
                                <ul class="inner_cartlist">
                                    <li class="header">
                                        <div class="main_head">
                                            <div class="edit">&nbsp;</div>
                                            <div class="pro_name">
                                                <h4>Product</h4>
                                            </div>
                                            <div class="pro_qty">
                                                <h4>Qty</h4>
                                            </div>
                                            <div class="pro_price">
                                                <h4>Price</h4>
                                            </div>
                                            <div class="pro_total">
                                                <h4>Total</h4>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                
                                <div class="checkout">
                                    <p class="order_total ng-binding"><span>Total :</span> $0</p>
                                    <div class="btn_checkout">
                                        <a class="trans red_btn squre-btn hvr-ripple-out" title="Proceed to Checkout">Proceed to Checkout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>